# 줄 종료 스타일 설정
* text=auto

# 유니티 메타 파일
*.unity text eol=lf
*.meta text eol=lf
*.bundle text eol=lf

# 유니티 프로젝트 설정 파일
*.sln text eol=crlf
*.csproj text eol=crlf
*.sln.DotSettings text eol=crlf

# 유니티 빌드 결과물 및 라이브러리
/Builds/** binary
/Library/** binary
/Temp/** binary

# 기타 이진 파일
*.jpg binary
*.png binary
*.ogg binary